<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{data.currentQuiz.quizName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="!showOverlay">
    <div class="quiz-info">
      <ion-label>Frage: {{questionsAnswered}} / {{data.currentQuiz.questions.length}}</ion-label>
      <ion-label>Punkte: {{points}}</ion-label>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{question?.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" [color]="selectedAnswer === 1 ? (isCorrect ? 'success' : 'danger') : 'primary'" (click)="submitAnswer(1)">{{question?.a1}}</ion-button>
        <ion-button expand="full" [color]="selectedAnswer === 2 ? (isCorrect ? 'success' : 'danger') : 'primary'" (click)="submitAnswer(2)">{{question?.a2}}</ion-button>
        <ion-button expand="full" [color]="selectedAnswer === 3 ? (isCorrect ? 'success' : 'danger') : 'primary'" (click)="submitAnswer(3)">{{question?.a3}}</ion-button>
        <ion-button expand="full" [color]="selectedAnswer === 4 ? (isCorrect ? 'success' : 'danger') : 'primary'" (click)="submitAnswer(4)">{{question?.a4}}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="showOverlay" class="overlay">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Quiz Ergebnis</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Richtige Antworten: {{data.getCorrectAnswersCount()}} / {{data.currentQuiz.questions.length}}</p>
        <p>Punkte: {{points}}</p>
        <ion-button expand="full" (click)="restartQuiz()">Neustarten</ion-button>
        <ion-button expand="full" (click)="closeQuiz()">Schließen</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>